body {
	font-family: 'Montserrat', sans-serif;	
}

h1 {
	font-family: 'Hind', sans-serif;
}

.jumbotron {
	background-color:transparent;
}

#p5 {
}

#header {
	position:absolute;
	margin-left:-50%;
	left:50%;
	top:25%;
	width:100%;
	text-align:center;
}

#name {
	font-size:72px;
}

#jobs {
	font-size:26px;
}

#jobs {
	font-size:26px;
}